<header>
	<div class="top">
	    <div class="container">         
	        <ul class="loginbar pull-right">
	            <li><i class="icon-globe"></i><a>Язык <i class="icon-sort-up"></i></a>
	                <ul class="nav-list">
	                    <li class="active"><a href="#">Русский</a> <i class="icon-ok"></i></li>
	                    <li><a href="#">Spanish</a></li>
	                    <li><a href="#">English</a></li>
	                    <li><a href="#">German</a></li>
	                </ul>
	            </li>   
	            <li class="devider">&nbsp;</li>
	            <li><a href="/help.html" class="login-btn">Помощь</a></li>  
	            <li class="devider">&nbsp;</li>
	            <% if signed_in? %>
	            <li><%= link_to "Личный кабинет", requests_path %></li>
	            <li class="devider">&nbsp;</li>
	            <li><%= link_to "Выход", '/signout.html', method: "delete" %></li>
	               
	            <% else %>
	            <li><%= link_to "Логин", '/signin.html', :class => "login-btn" %></li>
	            <% end %>
	        </ul>
	    </div>      
	</div>   
<!--=== Header ===-->
	<div class="container">

    		<div class="row-fluid">
				<div class="span4">
					<div class="logo">                                             
						<a href="/index.html">
							<img id="logo-header" src="/assets/logo_dark.png" alt="Инфоком-НН" />
						</a>
					</div>   
				</div>
				<div class="span8">
					<ul class="nav nav-pills">
						<li class="<%=is_active('index')%>">
							<%= link_to "Главная", '/index.html' %>
						</li>
						<li class="<%=is_active('about_us')%>">
							<%= link_to "О компании", '/about_us.html' %>
						</li>
						<li class="<%=is_active('services')%>">
							<%= link_to "Услуги", '/services.html' %>
						</li>
						<li class="<%=is_active('articles')%>">
							<%= link_to "Блог", '/articles.html' %>
						</li>
						<li class="<%=is_active('contacts')%>">
							<%= link_to "Контакты", '/contacts.html' %>
						</li>
						<li class="<%=is_active('search')%>">
							<a href="#">213-8-212</a>
						</li>    
						<!--
							<div class="search-open">
					            <div class="input-append">
					                <form>
					                	<input type="text" class="span3" placeholder="Search" />
					       			    <button type="submit" class="btn-u">Go</button>
					                </form>
					            </div>
					        </div>
					    -->
					</ul>
				</div>
		</div>
	</div>
</header>