<% provide(:title, 'Блог') %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">Блог компании "Инфоком-НН"</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Блог</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">
    <% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>
    <div class="row-fluid">
        <div class="span9">
            <%= will_paginate @posts %>
            <%= render :partial => '/shared/blog',  :as => :post, :collection => @posts %>
            <%= will_paginate @posts %>
        </div><!--/span9-->
        <%= render 'right_column' %>
    </div><!--/row-fluid-->   
</div>

