<% provide(:title, 'Контакты') %>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
	<div class="container">
        <h1 class="color-green pull-left">Контакты</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Контакты</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!-- Google Map -->
<div id="map" class="map margin-bottom-40">
</div><!---/map-->
<!-- End Google Map -->


<!--=== Content Part ===-->
<div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

    <% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>

	<div class="row-fluid">
		<div class="span9">
            <div class="headline"><h3>Контакты ООО "Инфоком-НН"</h3></div>
            <p>Отправьте своё сообщение. Наш менеджер свяжется с вами в самое ближайшее время.</p><br />
		
  <%= form_for @message,  :html => { :onsubmit => "yaCounter19652101.reachGoal('PHONE'); return true;" }, :url => {:controller => 'static_pages', :action => 'create'} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name, raw("<strong>Ваше имя</strong><span class=red>*</span>") %>
        <%= f.text_field :name, :class => "span7 border-radius-none"%>

  
        <%= f.label :phone, raw("<strong>Ваш телефон</strong> (Если вы укажите свой номер, наш менеджер самостроятельно свяжется с Вами)") %>
        <%= f.text_field :phone %>


        <%= f.label :email, raw("<strong>Адрес электронной почты</strong><span class=red>*</span>") %>
        <%= f.text_field :email %>


        <%= f.label :text, raw("<strong>Сообщение</strong><span class=red>*</span>") %>
        <%= f.text_area :text, :class => 'span10', :rows => "8" %>
<p><%= f.submit "Отправить заявку", class: "btn-u" %></p>
<% end %>
<span class=red>*</span> Поля, обязательные для заполнения.

        </div><!--/span9-->
        
<%= render '/static_pages/right_column' %>


    </div><!--/row-fluid-->   
</div>

 <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
  ymaps.ready(init);
    var myMap,
        myPlacemark;

    function init(){     
        myMap = new ymaps.Map ("map", {
            center: [56.290711, 44.000145],
            zoom: 16,
        });

        myPlacemark = new ymaps.Placemark([56.290711, 44.000145], { 
            hintContent: 'Нижний Новгород, ул. Бекетова, д.15, оф.4', 
            balloonContent: 'ООО Инфоком-НН' 
        });

        myMap.geoObjects.add(myPlacemark);
    }
</script>