<li>
  <% if user.avatar? %>
    <%= image_tag(user.avatar_url, height: '52', width: '52') %>
  <% else %>
    <%= image_tag('/assets/unnamed.jpg', width: '52', height: '52') %>
  <% end %>

  <%= link_to user.name, user %> |
  <%= user.requests.count %> |
  <%= user.email %> |
  <%= user.agent.name %> |
  <%= write_user_status(user.status) %>

  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
  <% end %>
  <% if current_user.admin_manager? && !current_user?(user) %>
	  <%= form_for user, :url => changestatus_user_path(user), :html => { :class => "inbody"} do |f| %>
      <% if current_user.admin? %>
        <%= f.select :status, [['Пользователь', 0], ['Инженер', 1], ['Менеджер', 2], ['Администратор', 3]]  %>
        <%= f.submit "Назначить", :class => "submit" %>
      <% end %>
      <% if current_user.manager? && !user.admin_manager? %>
        <%= f.select :status, [['Пользователь', 0], ['Инженер', 1]] %>
        <%= f.submit "Назначить", :class => "submit" %>
      <% end %>
    <% end %>
  <% end %>
</li>