<li>
  <% if user.avatar? %>
    <%= image_tag(user.avatar_url, height: '52', width: '52') %>
  <% else %>
    <%= image_tag('/assets/unnamed.jpg', width: '52', height: '52') %>
  <% end %>

  <%= link_to user.name, user %> /
    <%= user.requests.count %> /
  <%= user.email %> /
  <%= user.agent.name %> /

      <% if user.status == 2 %>
      <strong class="manager"> Менеджер </strong>
    <% elsif user.status == 3 %>
      <strong class="admin"> Администратор </strong>
    <% elsif user.status == 1 %>
      <strong class="engineer"> Инженер </strong>
    <% else %>
      <strong> Пользователь </strong>
    <% end %>

  <% if current_user.status == 3 && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
  <% end %>
  <% if current_user.status == 3 && !current_user?(user) %>
 	    <%= form_for user, :url => changestatus_user_path(user), :html => { :class => "inbody"} do |f| %>
      <%= f.select :status, [['Пользователь', 0], ['Инженер', 1], ['Менеджер', 2], ['Администратор', 3]] %>
      <%= f.submit "Назначить", :class => "submit" %>
    <% end %>

  <% end %>

</li>