<% provide(:title, "Обновить данные") %>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
        <h1 class="color-green pull-left">Обновить ваши данные</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Изменить профайл</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">

    <% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :agent_id, "Наименование организации, в которой Вы работаете" %>
      <%= collection_select(:user, :agent_id, Agent.all, :id, :name) %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>


      <%= f.label :avatar, "Аватар" %>
      <%= image_tag(@user.avatar_url, height: '120', width: '120') if @user.avatar? %>
      <%= f.file_field :avatar %>

      <hr>

      <%= f.submit "Сохранить изменения", class: "btn-u btn-large" %>
    <% end %>

  </div>
</div>
</div>