<% provide(:title, 'Все пользователи') %>

<% if signed_in? %>
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
        <h1 class="pull-left">Все пользователи</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Все пользователи</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">
    <%= render 'shared/usermenu' %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>  
    <div class="row-fluid">
      <aside class="span3">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
      </aside> 
      <div class="span9">
        <div class="table">
          <div class="thead row">
              <span class="span1">Фото</span>
              <span class="span3">ФИО</span>
              <span class="span2">Подано заявок</span>
              <span class="span2">Телефон</span>
              <span class="span2">Организация</span>
              <span class="span3">Статус</span>
          </div>
          <%= render @users %>
          <%= will_paginate %>
        </div> 


</div></div></div>
<% end %>