<% @user ||= current_user %>
<div class="stats">
<h4>Заявки</h4>

<% if current_user.admin_engineer? %>
<span><strong>В работе:</strong>
  <%= link_to Request.where('manager_id = ? AND (finish = ? OR finish = ?)', current_user, 0, 1).count %>
</span>
<span><strong>Выполнено:</strong>
  <%= link_to Request.where('manager_id = ? AND finish = ?', current_user, 2).count %>
</span>

<% elsif current_user.user? %>
<span><strong>Подано заявок:</strong>
  <a href="#"><%= current_user.requests.count %></a>
</span>
<% end %>

</div>

<% if current_user.admin? %>
	<hr>
		<strong>Балланс SMS:</strong> <%= balance %> руб.
<% end %>

<hr>
<span>Организация:
    <strong>
      <%= link_to current_user.agent.name, current_user.agent %>
    </strong>
</span>

<span>Статус: 
  <%= write_user_status(current_user.status) %>
</span>