<div class="row tbody">
<span class="span1"><%= request.id %>
</span>
<span class="span1">
    <%= Russian::strftime(request.created_at, "%d %b %Y") %>
</span>
<span class="span1">

  <% if current_user.admin? || current_user.manager? %>

  <% if request.finish == true %>


    <%= link_to '<i class="icon-ok green"></i> Закрыта'.html_safe, fin_request_path(request), method: :put %>
  <% else %>
    <%= link_to '<i class="icon-wrench red" alt="Выполнено"></i><br>В работе'.html_safe, fin_request_path(request), method: :put %>
  <% end %>

<% else %>

  <% if request.finish == true %>
    Закрыта
  <% else %>
    В работе
  <% end %>
<% end %>

</span>
<span class="span2">
<%= request.user.agent.name %>
</span>
<span class="span7">
<%= request.text %>
</span>
</div>