<div class="row tbody">

  <span class="span1">
    <%= link_to "#{request.id}<br><i class=icon-edit></i>".html_safe, request_path(request) %>
  </span>
  <span class="span1">
    <%= Russian::strftime(request.created_at, "%d %b %Y г. %H:%M") %>
  </span>
  <span class="span1">
    <% if current_user.id == request.manager_id || current_user.status = 3 %>

      <% if request.finish == true %>
        <%= link_to '<i class="icon-ok green"></i> Исполнено'.html_safe, fin_request_path(request), method: :put %>
      <% elsif request.manager_id? %>
        <% if current_user.id == request.manager_id || current_user.status == 3 %>
          <%= link_to '<i class="icon-wrench blue"></i><br> В работе'.html_safe, fin_request_path(request), method: :put %>
        <% elsif current_user.manager? && current_user != request.manager_id %>
          <i class="icon-wrench blue"></i><br> В работе
        <% end %>
      <% else %>
        <i class="icon-bolt red"></i><br> Обработка
      <% end %>
    <% else %>
      <% if request.finish == true %>
        <i class="icon-ok green"></i> Исполнено
      <% elsif request.manager_id? %>
        <i class="icon-wrench blue"></i><br> В работе
      <% else %>
        <i class="icon-bolt red"></i><br> Обработка
      <% end %>
    <% end %>
  </span>

<% if current_user.status == 3 || current_user.manager? %>
  <span class="span2">
    <%= request.user.agent.name %><br>
    <%= request.user.name %> <br>
    <%= request.user.phone %>
  </span>
<% end %>

  <span class="span2">
    <% if request.manager_id? %>
        <%= request.manager.name %> <br>
        <%= request.manager.phone %>
      <% if current_user.id == request.manager_id || current_user.status == 3 %>
        <% if request.finish? %>

        <% else %>
         <br><%= link_to '<i class="icon-remove-circle red"></i> Отменить исполнителя'.html_safe, notdoit_request_path(request), method: :put %>
         <% end %>
      <% end %>

    <% else %>
        <% if current_user.status == 1 %>
          <%= link_to '<i class="icon-wrench blue"></i><br> Выполнить заявку'.html_safe, doit_request_path(request), method: :put %>
        <% end %>
        <% if current_user.status == 3 || current_user.status == 2 %>

          <%= form_for request, :html => { :class => "ruser"} do |f| %>
              <%= f.collection_select :manager_id, User.where(:status => 1), :id, :name %>
              <%= f.submit "назначить", :class => "selectuser" %>
          <% end %>
        <% end %>
    <% end %>
  </span>

<% if current_user.status == 3 %>
  <span class="span5">
    <%= request.text %>
    <%= " (#{request.comments.count} #{Russian.p(request.comments.count, "комментарий", "комментария", "комментариев")})" %>
  </span>
<% elsif current_user.status == 2 %>
  <span class="span6">
    <%= request.text %>
  </span>
<% else %>
  <span class="span7">
    <%= request.text %>

  </span>
<% end %>

<% if current_user.status == 3 %>
  <span class="span1">
    <%= link_to "<i class=icon-trash></i>Удалить".html_safe, request, method: :delete, :class => "red", data: { confirm: "Вы уверены?" } %>
  </span>
<% end %>

</div>