<div class="row tbody">
<span class="span1"><%= request.id %>
</span>
<span class="span1">
    <%= Russian::strftime(request.created_at, "%d %b %Y") %>
</span>
<span class="span1">

  <% if current_user.admin? || current_user.manager? %>

  <% if request.finish == true %>
    <%= link_to '<i class="icon-ok green"></i> Выполнено'.html_safe, fin_request_path(request), method: :put %>
  <% else %>
    <%= link_to '<i class="icon-bolt red"></i><br> В работе'.html_safe, fin_request_path(request), method: :put %>
  <% end %>

<% else %>

  <% if request.finish == true %>
    <i class="icon-ok green"></i> Выполнено
  <% else %>
    <i class="icon-bolt red"> В работе
  <% end %>
<% end %>

</span>
<span class="span2">
<%= request.user.agent.name %><br>
<%= request.user.name %> <br>
<%= request.user.phone %>
</span>
<span class="span7">
<%= request.text %>
</span>

<% if current_user.admin? %>
          <span class="span1">
            
            <%= link_to "Удалить", request, method: :delete, :class => "red", data: { confirm: "Вы уверены?" } %>

          </span>
<% end %>

</div>