<% provide(:title, @request.user.agent.name) %>
<!--=== Breadcrumbs ===-->
<% if signed_in? %>
  <!--=== Breadcrumbs ===-->
  <div class="row-fluid breadcrumbs margin-bottom-20">
    <div class="container">
      <h1 class="pull-left">Личный кабинет</h1>
      <ul class="pull-right breadcrumb">
        <li><a href="/index.html">Главная</a> <span class="divider">/</span></li>
        <li><%= link_to "Заявки", requests_path %><span class="divider">/</span></li>
        <li class="active"><%= @request.id %></li>
      </ul>
    </div><!--/container-->
  </div><!--/breadcrumbs-->

  <%= render 'shared/usermenu' %>

  <div class="container"> 
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>  
    <div class="row-fluid">
      <aside class="span3">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
      </aside> 
      <div class="span9">


     <h1> <%= @request.user.agent.name %> </h1>

<strong>Координаты:</strong>
  <div class="well well-small">
   <p><strong>Адрес:</strong>
    <% if @request.address? %>
    <%= @request.address %> 
     <% else %>
    нет
    <% end %></p>
   <p><strong>Заявку подал:</strong> <%= @request.user.name %></p>
   <p><strong>Телефон:</strong> <%= @request.phone %></p>
   <p><strong>E-mail:</strong> <%= @request.email %></p>
   <p><strong>Дата подачи заявки:</strong> <%= @request.created_at %></p>
  </div>

<strong>Текст заявки:</strong>
  <div class="well well-small">
<p><%= @request.text %></p>
  </div>



<strong>Исполнитель:</strong>
  <div class="well well-small">
    <% if @request.manager_id? %>
      <div class="avainrequest">
        <% if @request.manager.avatar? %>
          <%= image_tag(@request.manager.avatar_url, height: '82', width: '82') %>
        <% else %>
          <%= image_tag('/assets/unnamed.jpg', width: '82', height: '82') %>
        <% end %>
      </div>
     <p><strong>ФИО:</strong> <%= @request.manager.name %> </p>
     <p><strong>Телефон:</strong> <%= @request.manager.phone%></p>
     <p><strong>E-mail:</strong> <%= @request.manager.email %></p>
     <p><%= link_to '<i class="icon-remove-circle red"></i> Отменить исполнителя'.html_safe, notdoit_request_path(@request), method: :put if current_user.admin_manager? %></p>
  <% else %>
  <p> Исполнитель не назначен. </p>
      <% if current_user.admin_manager? %>
          <%= form_for @request, :html => { :class => "ruser"} do |f| %>
            <%= f.collection_select :manager_id, User.where(:status => 1), :id, :name %>
            <%= f.submit "назначить", :class => "selectuser" %>
          <% end %>
      <% end %>
    <% end %>
  </div>

<strong>Комментарии:</strong>
  <div class="well well-small">
   <% if !@comments.empty? %>
     <% @comments.each do |c| %>
     <div class="comment">
        <div class="commentavatar">
          <% if c.user.avatar? %>
            <%= image_tag(c.user.avatar, height: '52', width: '52') %>
          <% else %>
            <%= image_tag('/assets/unnamed.jpg', width: '52', height: '52') %>
          <% end %>
        </div>
        <div class="alert alert-info commenttitle">
          <div class="commentusername">
            <%= link_to c.user.name, c.user %>

            | <%= write_user_status(c.user.status) %> |


          </div>
          <% if current_user == c.user || current_user.admin? %>

          <div class="commentdelete">
            <%= link_to "<i class=icon-trash></i>".html_safe, deletecomment_request_path(c, :req => @request), action: :deletecomment, data: { confirm: "Вы уверены?" } %>
          </div>
          <% end %>
          <div class="commentdate">
            <%= Russian::strftime(c.created_at, "%a, %e %B %Y %H:%M") %>
          </div>
        </div>
        <div class="commenttext">
          <%= c.text.html_safe %>
        </div>
     </div>
     <% end %>
   <% else %>
    Комментарии пока отсутствуют.
   <% end %>
  </div>
  <div class="well well-small">
          <%= form_for @comment, :url => {:action => "newcomment"} do |f| %>
            <%= f.text_area :text, :id => "some-textarea", :class => "wysihtml5" %>
            <%= f.hidden_field :request_id, :value => @request.id %>
            <%= f.submit "Добавить комментарий", :class => "newcomment" %>
          <% end %>
  </div>
      </div>
    </div>
  </div>
<% else %>
  Вы не зарегистрированны 
<% end %>

<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>