<% provide(:title, 'Все организации') %>

<% if signed_in? %>
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
        <h1 class="pull-left">Все организации</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Все организации</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">
    <%= render 'shared/usermenu' %>

<div class="row-fluid">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>

      <div class="span9">
        <div class="table">
          <div class="thead row">
              <span class="span1">#</span>
              <span class="span2">Наименование</span>
              <span class="span2">Телефон</span>
              <span class="span2">Заявки</span>
              <span class="span3">Сумма договора</span>
              <span class="span2">Дата заключения</span>
          </div>
            <%= render @agents %>
            <%= will_paginate %>
        </div>  
      </div>

<% end %>
</div>
</div>