<% provide(:title, "Обновить данные") %>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
        <h1 class="color-green pull-left">Обновить ваши данные</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Изменить профайл</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
    <% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>

<div class="container"> 


      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
  
<div class="row-fluid">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>

    <div class="span9">
  
   <%= form_for(@post) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

        <div class="span12">
          <%= f.label :name, "Название" %>
          <%= f.text_field :name, :class => "input-xxlarge" %>
        </div>
      
         <div class="span12">
        <%= f.label :picture, "Изображение" %>
        <%= image_tag(@post.picture_url, height: '120', width: '120') %>
        <%= f.file_field :picture %>
      </div>

        <div class="span12">
          <%= f.label :text, "Текст поста" %>
          <%= f.text_area :text, :class => "all wysihtml5" %>
        </div>
        <div class="span12">
      <%= f.submit "Опубликовать", class: "btn-u" %>
    </div>
    <% end %>

</div></div></div>
<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>