<% provide(:title, @post.name) %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
        <h1 class="pull-left">Блог</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Блог</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
    <% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>
    
<div class="container">

    <div class="row-fluid">
        <div class="span9">
            <div class="blog margin-bottom-30" itemscope itemtype="http://schema.org/NewsArticle">
                <meta itemprop="genre" content="Новости компании">
            	<h3 itemprop="headline"><%= @post.name %></h3>
                <meta itemprop="author" content="Инфоком-НН">
            	<ul class="unstyled inline blog-info">
                	<li><i class="icon-calendar"></i> <%= Russian::strftime(@post.created_at, "%d %B %Y") %></li>
                	<li><i class="icon-user"></i> <%= @post.user.name %></li>
                    <% if signed_in? %>
                    <li><i class="icon-pencil"></i> <%= link_to "Изменить", edit_post_path(@post), :class => 'yellow' if current_user.status == 3 || current_user == @post.user %> </li>
                    <li><i class="icon-trash"></i> <%= link_to "Удалить", @post, method: :delete, :class => 'red',
                                  data: { confirm: "Вы уверены?" } if current_user.status == 3 || current_user == @post.user %></li>
                    <% end %>
                </ul>
                    <div class="blog-img" itemprop="image">
                        <%= image_tag(@post.picture_url) %>
                    </div>
                <span itemprop="text"><%= @post.text.html_safe %></span>

            </div><!--/blog-->
        </div>

        <%= render '/static_pages/right_column' %>

    </div>
</div>