<% provide(:title, 'ИТ-аудит') %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">ИТ-аудит в Нижнем Новгороде</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li><%= link_to "Услуги", '/services.html' %> <span class="divider">/</span></li>
            <li class="active">ИТ-аудит</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<% if signed_in? %>
    <%= render 'shared/usermenu' %>
<% else %>
    <%= render 'shared/kp' %>
<% end %>

<div class="container">

    <div class="row-fluid margin-bottom-20">
        <!-- Who We Are -->
        <div class="span9">

<div class="headline"><h3>Что такое IT-аудит?</h3></div>

<p>Мобильный телефон стал неотъемлемой частью современной жизни. Не возможно представить себе делового человека без мобильного устройства. Планшетные компьютеры пока менее распространены в НИЖНЕМ Новгороде, однако стоит попасть в московское метро и вы заметите, что почти каждый пятый пассажир читает, смотрит фильмы, проверяет движение валютных пар через планшетник.</p>

<p>При покупке мобильного устройства возникает вопрос выбора модели. Кто-то полагается на мнение продавца магазина, кто-то руководствуется рекламой по телевизору, кто-то спрашивает у знакомых. В итоге выбор сделан и пользователь сталкивается с необходимостью научиться пользоваться приобретённым устройством. При этом по данным исследований примерно 97% пользователей не знает всех функций устройства.</p>

<p>Можно провести аналогию между персональными устройствами и техникой, которая вас окружает в офисе. Не возможно представить себе современный офис без компьютеров, сети Интернет, факсов, телефонов, принтеров. Более продвинутые руководители используют дополнительную технику.  Возникает ряд вопросов: <strong>какие требования</strong> необходимы <strong>для офисного компьютера</strong>, где его лучше покупать, какой необходим принтер, <strong>как будет подключен интернет</strong> и т.д.</p>

<p>IT-аудит проводится в случае необходимости создания, либо реформирования информационно-технической составляющей работы вашего офиса.</p>

<div class="headline"><h3>Зачем проводить IT-аудит?</h3></div>

<p>Проведя аудит информационно-вычислительной системы даже небольшого офиса вы получите чёткие рекомендации по модернизации всей системы. Это позволит вам сэкономить в процессе её эксплуатации.</p>

<p>В <strong>Нижнем Новгороде продажей компьютеров</strong> занимается не мало фирм. Каждый магазин заинтересован в увеличении прибыли. Поэтому неискушённому руководителю предприятия, который хочет снабдить секретаря компьютером для регистрации входящей документации могут продать технику, которая по своим характеристикам больше подойдёт для исследовательского института. Разница в стоимости требуемого и покупаемого оборудования может отличаться в несколько раз.</p>

<p>Помимо этого, <strong>покупая компьютер для офиса</strong>, человек далёкий от it может переплатить лишние деньги за поставленную комплектацию. Цены на комплектующие в разных магазина могут отличаться весьма существенно. В этом случае абсолютно одинаковое оборудование у различных поставщиков будет иметь разную цену.</p>

<p>И наконец, руководителя предприятия, осуществляющего закупку оборудования для офиса, могут просто обмануть. Всегда можно установить на компьютер устаревшее оборудование и продать его втридорога.</p>

<div class="headline"><h3>Что вы получите, заказав проведение IT-аудита у нас?</h3></div>

<p>Заказав <strong>проведение IT-аудита</strong> в ООО «Инфоком-НН» вы получите полную техническую карту вашего предприятия с указанием наиболее слабых мест с аппаратной и программной точек зрения. Также будет составлено заключение об экономической целесообразности использование с поставщиком услуг подключения к интернету. По результатам аудита будет разработана полная техническая карта с предложениями по оптимизации работы всей it составляющей работы предприятия, будут даны <strong>рекомендации по покупке офисной техники</strong> в Нижнем Новгороде, предложено <strong>взять на абонентское обслуживание офисные компьютеры</strong> в случае целесообразности, установлено текущее <strong>техническое состояние</strong> имеющейся техники.</p>

        </div>

        <%= render 'right_column' %>
    </div>

<%= render '/shared/clients' %>

</div>