<% provide(:title, 'ИТ-аутсорсинг') %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">Обслуживание компьютеров в Нижнем Новгороде</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li><%= link_to "Услуги", '/services.html' %> <span class="divider">/</span></li>
            <li class="active">ИТ-аутсорсинг</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<% if signed_in? %>
    <%= render 'shared/usermenu' %>
<% else %>
    <%= render 'shared/kp' %>
<% end %>

<div class="container">

    <div class="row-fluid margin-bottom-20">
        <!-- Who We Are -->
        <div class="span9">

            <p><img class="pull-left lft-img-margin img-width-200" src="/assets/others/vg.jpg" alt="" />
<h3>Что такое IT-аутсорсинг?</h3>

<p>Абонентское обслуживание компьютеров в офисе – одна из самых распространенных разновидностей IT-аутсорсинга. Как правило, в это понятие включают и обеспечение информационной безопасности, и проектирование локальной сети, и установку программного обеспечения: вообще всё, что касается информационной инфраструктуры организации.</p>

<h3>Что входит в портфель IT-аутсорсинга в ООО «Инфоком-НН»:</h3>

<ul class="unstyled">

<li><i class="icon-ok color-green"></i> Контроль технического состояния компьютерной техники и офисного оборудования;</li>

<li><i class="icon-ok color-green"></i> Сопровождение работы сервера предприятия;</li>

<li><i class="icon-ok color-green"></i> Обеспечение информационной безопасности;</li>

<li><i class="icon-ok color-green"></i> Консультационные услуги по закупке оборудования для офиса; · Поддержание работоспособности локальной сети;</li>

<li><i class="icon-ok color-green"></i> Обеспечение работоспособности телефонии в организации; · Удалённое администрирование интернет трафика;</li>

<li><i class="icon-ok color-green"></i> Создание и сопровождение работы офисной электронной почты; </li>

<li><i class="icon-ok color-green"></i> Рекомендации по покупке и лицензированию программного обеспечения.</li>

</ul>

<p>Наша задача – сделать так, чтобы оборудование в вашем офисе не вызывало у вас ни каких проблем.</p>

<h3>Механизм осуществления IT-аутсорсинга</h3>

<p>После заключения договора между ООО «Инфоком-НН» и вашей организацией мы проводим профилактический осмотр вашей информационной инфраструктуры. Подробное знакомство с каждой рабочей станцией позволит получить полную картину технического состояния вашей системы.</p>

<p><strong>Профилактические выезды специалистов</strong> в ваш офис проходят ежемесячно, с регулярностью, установленной в договоре и в соответствие с выбранным пакетом услуг.</p>

<p>Помимо профилактических осмотров, мы осуществляем удалённый мониторинг вашей системы в режиме 24/7. Это даёт возможность круглосуточно выявлять неформатную работу оборудования.</p>

<p>Каждому сотруднику вашей организации может быть установлен трафик интернета, заблокирован доступ на ряд сайтов, выделен персональный ящик электронной почты.</p>

<p>В случае необходимости, <strong>вы отправляете заявку</strong> для установки дополнительных единиц оборудования, установки программного обеспечения, покупку техники, прокладку локальной сети в объёмах, предусмотренных договором, настройку сети интернет, настройку электронной почты, установку телефонной точки и т.д.</p>
    <blockquote class="hero">
        <p>Компания "Инфоком-НН" предоставляет каждому сотруднику Вашей организации доступ к электронной форме подачи заявок на обслуживание компьютерной техники.</p>
        <small class="color-green">Координатор проектов, Владимир Горшенин </small>
    </blockquote> 

<p>Количество заявок в месяц устанавливается согласно выбранному вами пакету услуг.</p>

<p>Кроме того, в выбранный вами пакет услуг входят<strong> выезды наших инженеров в случае критической ситуации</strong>. Время реакции на запрос – 2 часа!</p>

            <br />

            <blockquote class="hero-unify">
                <p>В компании "Инфоком" мы стараемся обеспечить максимальный комфорт для наших клиентов в процессе взаимодействия с ИТ-специалистами.</p>
                <small>IT-project manager, Никита Груздев</small>
            </blockquote>

<h3>Стоимость услуг IT-аутсорсинга</h3>

<p>Мы предлагаем несколько пакетов услуг. Они отличаются по количеству обслуживаемых рабочих станций и количеству заявок, профилактических выездов, экстренных выездов.</p>

<%= render '/static_pages/services/autsorsing_price' %>

        </div><!--/span9-->  


        <%= render 'right_column' %>

    </div>
<%= render '/shared/clients' %>

</div>