<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="ит аутсорсинг в Нижнем Новгороде, ит аутсорсинг, абонентское обслуживание компьютеров, обслуживание компьютеров, ит аудит, обслуживание оргтехники, обслуживание сервера, монтаж сети, проектирование ЛВС, создать локальную сеть, создать корпоративную сеть, обслуживание сетей, настройка компьютера, компьютерная помощь, настройка сети, установка windows, компьютерное обслуживание, настройка wifi, техническое обслуживание сетей, it аудит, it аутсорсинг, ит компания, купить программное обеспечение, компьютерные сети, локальная сеть" />
  <meta name="description" content="ИТ аутсорсинг и абонентское обслуживание компьютеров в Нижнем Новгороде" />
</head>
<body>
    <%= render 'static_pages/header' %>
<%= yield %>
    <%= render 'static_pages/footer' %>
</body>
</html>